<!DOCTYPE html>
<html>
    <head>
            <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <main>
            <div>

                <a href='users/<%= collaborator.userId %>'> <%= collaborator.name %> </a>
                <% if(currentUser.isAdmin() || currentUser.isOwner(currentUser, wiki)) { %>
                <form action='<%= wiki.id %>/collaborators/<%= collaborator.id %>/destroy'method='post'>
                <button type='submit' class='btn'>Delete</button>
                </form>
                <% } %>
            </div>
        </main>
        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>