<!DOCTYPE html>
<html>
    <head>
            <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <main>
                <p>List of collaborators here</p>

                <form action="/wikis/<%= wiki.id %>/addCollaborators" method="post">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
        </main>
        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>