body {
    color: #707070;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
  }

/* Navbar */
.navbar {
    background-color: white;
    height: auto;
}

.navbar-brand {
    font-family: 'Shadows Into Light Two', cursive;
    color: #D43232 !important;
    font-size: 2.5em;
}

/* Home Page Area */

.main {
    padding: 130px 0px 20px 0px;
    background: white; 
}

.search {
    height: 80vh;
    background: #251F1F;
    color: white;
    margin: 0px;
    padding: 0px;
}

.container-fluid {
        padding-right:0;
        padding-left:0;
        margin-right:auto;
        margin-left:auto;
}

/* Sign Up Page */


.plans {
    background: #251F1F;
    color: white;
    padding: 40px;
}

/* Components */

.btn {
    background: #D43232;
    border-width: 0px;
    width: 200px;
    border-radius: 0px;
    color: white !important;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}

.btn:focus {
    background-color: rgb(221, 60, 60);
    border-color: rgb(221, 60, 60);   
}

.btn:active {
    background-color: rgb(221, 60, 60);
    border-color: rgb(221, 60, 60);
    
}


.collab-button {
    background: none;
    width: 10px;
    border: none;
    color: black;
}

/* Text */

a:link {
    color:#251F1F;
    text-decoration: none;
  }
  
  a:visited {
    color: #707070;
  }
  
  a:hover {
    color: #707070;
  }
  
  a:active {
    color: #707070;
  }

  .featured-text {
    font-style: italic;
  }

/* Payment Form */

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }


  /* Images */

  .featured-wiki {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
  } 

  .list-wiki {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
  }

  
  .list-wiki:hover .overlay {
    opacity: .7;
  }
  
  
  .list-wiki-text {
    color: black;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }

  .list-row {
      padding-top: 20px;
  }

  .show-wiki {
    margin-top: -50px;
    width: 100%;
    height: 900px;
    margin-bottom: 10px;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
  }

  .show-wiki-overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    opacity: 1;
  }
  .overlay-text {
    color: white;
    font-size: 4em;
    font-style: bold;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
