body {
    font-family: 'Open Sans', sans-serif;
    color: #707070;
    padding-top: 100px;
  }

/* Navbar */
.navbar {
    background-color: white;
    height: auto;
}

.navbar-brand {
    font-family: 'Shadows Into Light Two', cursive;
    color: #D43232;
    font-size: 2.5em;
}

/* Home Page Area */

.main {
    padding: 130px 0px 20px 0px;
    background: white; 
}

.search {
    height: 80vh;
    background: #251F1F;
    color: white;
    margin: 0px;
    padding: 0px;
}

.container-fluid {
        padding-right:0;
        padding-left:0;
        margin-right:auto;
        margin-left:auto;
}

/* Sign Up Page */


.plans {
    background: #251F1F;
    color: white;
    padding: 40px;
}

/* Components */

.btn {
    background: #D43232;
    border-width: 0px;
    width: 200px;
    border-radius: 0px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}




/* Payment Form */

.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  /* Images */

  .wiki-image {
    width: 500px;
    height: auto;
  }

  .list-image {
    width: 200px;
    height: auto;
  }

  .featured-wikis {
      text-align: left;
  }

  .featured-wiki {
    width: 700px;
    height: 350px;
    margin-bottom: 10px;
    background-size: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
  } 

  