<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head.ejs %>
  <body>
    <% include ./partials/navbar.ejs %>
    <main class="container-fluid">
        <section class='row align-items-center justify-content-center main'>
            <section class='col-md-5 text-center align-self-center'>
                <h4 class=''>
                    A space to create, collaborate, and share memorable restaurant and street food experiences around the world.
                </h3>
                <button class='btn btn-md btn-font'>Sign Up</button>
            </section>
        </section>
        <section class='row justify-content-center search'>
            <section class='col-md-3 align-self-center'>
                <h3>This is the wiki/search section</h3>
            </section>
        </section>
    </main>
    <% include ./partials/baseScripts.ejs %>
  </body>
</html>

